TUNEAV_BUNDLE_IDENTIFIER = com.avalsys.tuneav.mac.dev
AVALSYS_APPLE_DEVELOPMENT_TEAM = $(inherited)
PRODUCT_BUNDLE_IDENTIFIER = $(TUNEAV_BUNDLE_IDENTIFIER)
TUNEAV_DISPLAY_NAME = Tune AV
ACCOUNTAV_PUBLISHABLE_KEY = $(inherited)
TUNEAV_SUPPORT_EMAIL = $(inherited)
SUPPORTAV_BASE_URL = $(inherited)
ACCOUNTAV_API_BASE_URL = $(inherited)
ACCOUNTAV_MANAGEMENT_URL = $(inherited)
TUNEAV_DELETE_ACCOUNT_URL = $(inherited)
TUNEAV_TERMS_URL = $(inherited)
TUNEAV_PRIVACY_URL = $(inherited)
TUNEAV_OPEN_SOURCE_URL = $(inherited)

#include? "Local.xcconfig"
