TUNEAV_BUNDLE_IDENTIFIER = com.avalsys.tuneav
AVALSYS_APPLE_DEVELOPMENT_TEAM = $(inherited)
PRODUCT_BUNDLE_IDENTIFIER = $(TUNEAV_BUNDLE_IDENTIFIER)
TUNEAV_DISPLAY_NAME = Tune AV
TUNEAV_CONFIG_ENVIRONMENT = production
TUNEAV_MACOS_SENTRY_DSN = $(inherited)
ACCOUNTAV_PUBLISHABLE_KEY = $(inherited)
ACCOUNTAV_KEYCHAIN_SERVICE = com.avalsys.tuneav.account.v2
ACCOUNTAV_KEYCHAIN_ACCESS_GROUP = 935PM55U6R.com.avalsys.tuneav
SUPPORT_EMAIL_TO = $(inherited)
SUPPORTAV_BASE_URL = $(inherited)
ACCOUNTAV_API_BASE_URL = $(inherited)
TUNEAV_API_BASE_URL = $(inherited)
ACCOUNTAV_MANAGEMENT_URL = $(inherited)
TUNEAV_CONVEX_URL = $(inherited)
TUNEAV_DELETE_ACCOUNT_URL = $(inherited)
TUNEAV_TERMS_URL = $(inherited)
TUNEAV_PRIVACY_URL = $(inherited)
TUNEAV_OPEN_SOURCE_URL = $(inherited)
TUNEAV_REVENUECAT_PUBLIC_API_KEY = $(inherited)
TUNEAV_REVENUECAT_OFFERING_ID = $(inherited)
TUNEAV_REVENUECAT_MONTHLY_PACKAGE_ID = $(inherited)

#include? "Local.xcconfig"
