AVTUNESYS_BUNDLE_IDENTIFIER = com.avalsys.avtunesys
AVALSYS_APPLE_DEVELOPMENT_TEAM = $(inherited)
PRODUCT_BUNDLE_IDENTIFIER = $(AVTUNESYS_BUNDLE_IDENTIFIER)
AVTUNESYS_DISPLAY_NAME = AV Tunesys
AVACCOUNT_PUBLISHABLE_KEY = $(inherited)
AVTUNESYS_PREMIUM_PRODUCT_IDS = $(inherited)
AVTUNESYS_SUPPORT_EMAIL = $(inherited)
AVACCOUNT_API_BASE_URL = $(inherited)
AVACCOUNT_MANAGEMENT_URL = $(inherited)
AVTUNESYS_TERMS_URL = $(inherited)
AVTUNESYS_PRIVACY_URL = $(inherited)
AVTUNESYS_OPEN_SOURCE_URL = $(inherited)

#include? "Local.xcconfig"
