<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(TUNEAV_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>ACCOUNTAV_PUBLISHABLE_KEY</key>
	<string>$(ACCOUNTAV_PUBLISHABLE_KEY)</string>
	<key>TUNEAV_APP_IDENTIFIER_PREFIX</key>
	<string>$(TUNEAV_APP_IDENTIFIER_PREFIX)</string>
	<key>TUNEAV_SUPPORT_EMAIL</key>
	<string>$(TUNEAV_SUPPORT_EMAIL)</string>
	<key>ACCOUNTAV_API_BASE_URL</key>
	<string>$(ACCOUNTAV_API_BASE_URL)</string>
	<key>ACCOUNTAV_MANAGEMENT_URL</key>
	<string>$(ACCOUNTAV_MANAGEMENT_URL)</string>
	<key>TUNEAV_DELETE_ACCOUNT_URL</key>
	<string>$(TUNEAV_DELETE_ACCOUNT_URL)</string>
	<key>TUNEAV_TERMS_URL</key>
	<string>$(TUNEAV_TERMS_URL)</string>
	<key>TUNEAV_PRIVACY_URL</key>
	<string>$(TUNEAV_PRIVACY_URL)</string>
	<key>TUNEAV_OPEN_SOURCE_URL</key>
	<string>$(TUNEAV_OPEN_SOURCE_URL)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
