<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACCOUNTAV_API_BASE_URL</key>
	<string>$(ACCOUNTAV_API_BASE_URL)</string>
	<key>ACCOUNTAV_KEYCHAIN_ACCESS_GROUP</key>
	<string>$(ACCOUNTAV_KEYCHAIN_ACCESS_GROUP)</string>
	<key>ACCOUNTAV_KEYCHAIN_SERVICE</key>
	<string>$(ACCOUNTAV_KEYCHAIN_SERVICE)</string>
	<key>ACCOUNTAV_MANAGEMENT_URL</key>
	<string>$(ACCOUNTAV_MANAGEMENT_URL)</string>
	<key>ACCOUNTAV_PUBLISHABLE_KEY</key>
	<string>$(ACCOUNTAV_PUBLISHABLE_KEY)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(TUNEAV_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>36</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsForMedia</key>
		<true/>
	</dict>
	<key>SUPPORTAV_BASE_URL</key>
	<string>$(SUPPORTAV_BASE_URL)</string>
	<key>SUPPORT_EMAIL_TO</key>
	<string>$(SUPPORT_EMAIL_TO)</string>
	<key>TUNEAV_CONFIG_ENVIRONMENT</key>
	<string>$(TUNEAV_CONFIG_ENVIRONMENT)</string>
	<key>TUNEAV_CONVEX_URL</key>
	<string>$(TUNEAV_CONVEX_URL)</string>
	<key>TUNEAV_DELETE_ACCOUNT_URL</key>
	<string>$(TUNEAV_DELETE_ACCOUNT_URL)</string>
	<key>TUNEAV_MACOS_SENTRY_DSN</key>
	<string>$(TUNEAV_MACOS_SENTRY_DSN)</string>
	<key>TUNEAV_OPEN_SOURCE_URL</key>
	<string>$(TUNEAV_OPEN_SOURCE_URL)</string>
	<key>TUNEAV_PRIVACY_URL</key>
	<string>$(TUNEAV_PRIVACY_URL)</string>
	<key>TUNEAV_TERMS_URL</key>
	<string>$(TUNEAV_TERMS_URL)</string>
</dict>
</plist>
